asyncio==3.4.3
easydict==1.9
falcon==1.4.1
falcon-jsonify==1.2
falcon-ratelimit==0.1b3
futures==3.1.1
greenlet==0.4.15
gunicorn==19.9.0
meinheld==0.6.1
motor==1.2.1
motorengine==1.0.0
pymongo==3.6.0
python-mimeparse==1.6.0
six==1.11.0
tornado==5.1.1
uvloop==0.11.2
