body,
html {
  margin: 5px;
  font-family: Helvetica;
  font-size: 1.2em;
  background-color: #e5e5e5;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas: "m m m"
                       "m m m"
                       "i i t";
}

.map_container {
  grid-area: m;
}

.issues_container {
  grid-area: i;
}

.test {
  grid-area: t;
}
