body,
html {
  padding: 5px;
  font-family: Helvetica;
  font-size: 1.2em;
  background-color: #e5e5e5;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas: "m m m"
                       "i i s"
                       "f f f";
}

.map_container {
  grid-area: m;
}

.issues_container {
  grid-area: i;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar_container {
  grid-area: s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_container {
  grid-area: f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: .7em;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas: "m m m"
                         "i i i"
                         "s s s"
                         "f f f";
    font-size: .8em;
  }
}